.transaction-list {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    .filter-controls {
      display: flex;
      justify-content: space-between;
      margin-bottom: 20px;
  
      .form-control {
        display: flex;
        flex-direction: column;
        margin-right: 15px;
        label {
          margin-bottom: 5px;
        }
        input[type="date"] {
          padding: 8px;
          border: 1px solid #ddd;
          border-radius: 4px;
          
        }
      }
    }
  }
  
  .transaction-list h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .transaction-list ul {
    list-style-type: none;
    padding: 0;
  }
  
  .transaction-item {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #ffffff;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .transaction-item > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .transaction-item .incomeAmount {
    font-weight: bold;
    color: green;
  }

  .transaction-item .expAmount {
    font-weight: bold;
    color: red;
  }
  
  .transaction-item .category {
    color: #007bff;
    font-weight: bold;
  }
  
  .transaction-item .date {
    color: #888;
  }
  