/* Header.scss */

.header {
  background-color: #333;
  color: #fff;
  padding: 1rem;
  text-align: center;

  h1 {
    margin: 0;
    font-size: 2rem;
  }

  .nav-links {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-evenly;

    li {
      margin: 0 1rem;
      display: inline;

      a {
        color: #fff;
        text-decoration: none;
        font-size: 1.2rem;
        transition: color 0.3s ease;

        &:hover {
          color: #ddd;
        }
      }
    }
  }
}


@media only screen and (max-width: 992px) {
  .header h1 {
    font-size: 1.6rem;
  }

  .nav-links {
    flex-direction: column;
    align-items: center;

    li {
      margin: 0.5rem 0;
    }
  }
}

@media only screen and (max-width: 768px) {
  .header {
    padding: 0.5rem;
  }

  .header h1 {
    font-size: 1.4rem;
  }

  .nav-links li a {
    font-size: 1rem;
  }
}
